<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
  </head>
  <body>
    <h1>Mutable Const Productions!</h1>
    <div ng-controller = "MyCtrl as myCtrl" data-ng-init="init()">
      <ul>
        <li ng-repeat="contact in myCtrl.contacts">
          <button ng-click="myCtrl.switchContact(contact.mobile)">{{contact.name}}</button>
        </li>
      </ul>
      <input type="text" ng-model="myCtrl.currentMessage" placeholder="message..."
             ng-keyup="$event.keyCode == 13 && myCtrl.send()">
      <textarea name="message-thread" readonly="true" cols=10 rows=10 ng-model="myCtrl.messageThread"></textarea>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="test.js"></script>
  <script>
    <!-- Retrieve consts picked up from main process startup -->
    const remote = require('remote');
    const uuidIdentity = remote.getGlobal('uuidIdentity');
  </script>
</html>
