<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <title>Supernova</title>
  </head>
  <body>
    <!-- <h1>Mutable Const Productions!</h1> -->
    <div id="messaging" ng-controller="MyCtrl as myCtrl" data-ng-init="init()">
      <ul id="contacts" class="message-elem">
        <li ng-repeat="contact in myCtrl.contacts"
            ng-click="myCtrl.switchContact(contact.mobile)"
            ng-class="myCtrl.currentContact.mobile === contact.mobile ? 'selected' : 'unselected'">
          {{contact.name}}
        </li>
      </ul>
      <div id="messaging-area" class="message-elem">
        <textarea id="message-thread" readonly="true" ng-model="myCtrl.messageThread"></textarea>
        <input id="message-box" type="text" ng-model="myCtrl.currentMessage" placeholder="message..."
               ng-keyup="$event.keyCode == 13 && myCtrl.send()">
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="test.js"></script>
  <script>
    <!-- Retrieve consts picked up from main process startup -->
    const remote = require('remote');
    const uuidIdentity = remote.getGlobal('uuidIdentity');
  </script>
  <link rel="stylesheet" type="text/css" href="test.css" />
</html>
